<div id="404css" class="container">
  <div class="jumbotron mt-4 pt-4 shadow p-3 mb-5 rounded bg-transparent">
    <img src="/styles/drivlogo.png" id="driv404" class="img-fluid center">
    <hr>
    <h2 class="text-center">Whatever it was you wanted, isn't here, so play some Pong!</h2>
    <div>
      <center>
        <canvas id="pong" width="600" height="400" style="z-index: 1"></canvas>
      </center>
    </div>
    <a href="/">â† Back To Home</a>
  </div>
</div>

<script src="/public/js/pong.js"></script>