<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark text-light">
    <span class="navbar-brand">D.R.I.V.</span>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Login</h5>
          <form class="form-signin">
            <div class="form-label-group">
                <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            </div>
            <div class="form-label-group my-3">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>
            <button id="log-in-button" class="btn btn-lg btn-primary btn-block text-uppercase">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div>


<!-- Bootstrap JS -->
<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{{!--script for login --}}
<script src="/js/login.js"></script>