{{!-- Nav bar --}}
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark text-light">
    <img id="drivloginimg" src="/styles/drivlogo.png">
</nav>


<div class="container mt-5">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5 shadow-sm">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div id="main-content" class="card-body rounded">
          <h5 class="card-title text-center text-dark img-fluid">Login</h5>
          <form class="form-signin">
            <div class="form-label-group">
                <input type="text" id="inputUsername" class="form-control" placeholder="User Email" required autofocus>
            </div>
            <div class="form-label-group my-3">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>
            <button id="log-in-button" class="btn btn-sm btn-info">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div>

{{!--script for login --}}
<script src="/js/login.js"></script>