body {
    background-color: #73c9f5
}

#driv404 {
    height: 75px;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.card-body {
    background: #b3e3fc;
}

a:link {
    color: #343a40;
}
  
a:visited {
   color: #343a40;
}
  
a:hover {
   color: #343a40;
}

a:active {
   color: blue;
}