body {
  background-color: #73c9f5
}

#driv404 {
  height: 75px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-body {
  background: #b3e3fc;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

a:active {
  color: blue;
}
