body {
    background-color: #73c9f5
}

#driv404 {
    height: 150px;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.jumbotron {
    background: #2ab4f8;
}

* {
    color: #ffffff;
}

a:link {
    color: #ffffff;
}
  
a:visited {
   color: #ffffff;
}
  
a:hover {
   color: #ffffff;
}

a:active {
   color: blue;
}