#indexcontainer {
    background-color: #b3e3fc;
    min-height: 90vh;
    max-height: 90vh;
    overflow: auto;
}

#hospitalchoice {
    width: 100%;
}

.lds-roller {
    color: white;
    margin: 15% 200px;
}

table {
    table-layout: fixed;
    text-align: center;
    font-size: .85em;
}
